.label {
  font-size: 15px;
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.input {
  width: 300px;
  outline: none;
  border-radius: 65px;
  padding: 5px;
  border: 1.5px solid;
  background-color: #e0e0c8;
}

.input:hover {
  background-color: #d1d0ae;
}

.input::placeholder {
  color: #55749e;
}
