.box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  font-size: 15px;
  font-weight: 700;
  color: #55749e;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button {
  display: inline-block;
  align-self: center;
  width: 80px;
  margin-right: 2px;
  padding: 4px 8px;
  background: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid #55749e;
  background: #55749e;
  color: #fff;
}

.button:hover {
  background: #a868a2;
}
